## Feature Scaling

In [1]:
#Importing packages
import numpy as np
import pandas as pd

In [3]:
dataset = pd.read_csv('C:\\Users\\Parul\\Desktop\\DATASETS\\purchase_salary.csv')

In [4]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
dataset.shape

(400, 5)

In [10]:
x = dataset.iloc[:,2:4]
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [11]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
std_x = sc.fit_transform(x)

In [13]:
std_x[0:5]

array([[-1.78179743, -1.49004624],
       [-0.25358736, -1.46068138],
       [-1.11320552, -0.78528968],
       [-1.01769239, -0.37418169],
       [-1.78179743,  0.18375059]])

In [15]:
from sklearn.preprocessing import MinMaxScaler
MinMaxScalerx = MinMaxScaler()
MN_x = MinMaxScalerx.fit_transform(x)

In [16]:
MN_x[0:5]

array([[0.02380952, 0.02962963],
       [0.4047619 , 0.03703704],
       [0.19047619, 0.20740741],
       [0.21428571, 0.31111111],
       [0.02380952, 0.45185185]])